.ovo-font-white{
  font-family: 'Ovo', serif;
  color: #fff;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-collapse{
  background-color: #cbd8e3;
  border: none;
}


#navbar{
  border: none;
  height: 65px;
  font-family: 'IM Fell Great Primer SC', serif;
  padding-top: 10px;
  }

/*CAROUSEL BEGINS*/

.item{
  height: 500px;
  padding: none;
  background-position: center;
  background-size: cover;
}

.carousel-font{
  font-size: 4em;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.carousel-caption a {
  color: #fff;
}

.carousel-caption a:hover{
  color: #4c433a;
  text-shadow: 3px 3px 0.5px rgba(56, 29, 2);
  text-decoration: none;

}

#welcome-image{
  background-image: url(../img/pexels-umbrellaphoto-large.jpg);


}

#cello-site{
  background-image: url(../img/pexels-cellist.jpeg);

}

#travel-site{
  background-image: url(../img/pexels-photo.jpg);

}

#restaurante{
    background-image: url(../img/food_review.jpg);

}

#pet-store{
    background-image: url(../img/hero.jpg);

}

/*CAROUSEL ENDS*/

/*FOOTER BEGINS*/

.footer-column{
  font-family: 'IM Fell Great Primer SC', serif;
  height: 175px;
  margin-top: -1px;
  background-color: #cbd8e3;
  border: 2px solid black;
}

#icon{
  text-align: center;
  padding-top: 40px;
}

  .fa-facebook-square:before, .fa-linkedin:before{
    font-size: 4em;
    text-shadow: 0.75px 0.75px 1px rgba(255, 255, 255, 0.8);
    padding-left: 25px;
  }

  #icon a{
    padding-left: 30px;
  }

  .fa-facebook-square:before{
    color: #3B5998;
  }

  .fa-linkedin:before{
    color: #0177B5;
    margin-left: -5px;
  }


  /*Footer ends*/

  /*Responsive features begin*/

@media (max-width: 768px) {
  #navbar .navbar-default{
    background-color: #333;
    color: #fff;
  }

  .item{
    height: 200px;
  }
  .carousel-font{
    padding-top: 4px;
    font-size: 1em;
    margin-left: none;
  }

  .carousel-caption{
    font-size: 0.5em;
  }

  .col-xs-12{
    border: 20px;
  }

  .map-iframe{
    visibility: hidden;
  }

  .footer-column{
    background-color: #000;
    color: #fff;
    margin: 8px;
    height: inherit;
    width: inherit;
    padding: 20px;
      }
  i.fa-facebook-square::before .fa-linkedin::before{
    margin-right: 16px;
    height: 32px;

  }

  #icon .fa{
  margin-left: -8px;
  }

  #map{
    display: none;
    background-color: #000;
  }


  }
/*Responsive features end*/
