.ovo-font-white{
  font-family: 'Ovo', serif;
  color: #fff;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-collapse{
  background-color: #cbd8e3;
  border: none;
}


#navbar{
  border: none;
  height: 65px;
  font-family: 'IM Fell Great Primer SC', serif;
  padding-top: 10px;
  }

/*CAROUSEL BEGINS*/

.item{
  height: 500px;
  background-position: center;
  background-size: cover;
}

.carousel-font{
  font-size: 4em;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.carousel-caption a {
  color: #fff;
}

.carousel-caption a:hover{
  color: #4c433a;
  text-shadow: 3px 3px 0.5px rgba(56, 29, 2);
  text-decoration: none;

}

#welcome-image{
  background-image: url(../img/pexels-umbrellaphoto-large.jpg);


}

#cello-site{
  background-image: url(../img/pexels-cellist.jpeg);

}

#travel-site{
  background-image: url(../img/pexels-photo.jpg);

}

/*CAROUSEL ENDS*/


#footer{
  background: #cbd8e3;
  font-family: 'IM Fell Great Primer SC', serif;
  height: 175px;
  margin-top: -1px;
}

#icon{
  border: 2px solid black;
  height: 175px;
  text-align: center;
  padding-top: 40px;
  }

  .fa-facebook-square:before, .fa-linkedin:before{
    font-size: 4em;
    text-shadow: 0.75px 0.75px 1px rgba(255, 255, 255, 0.8);
    padding-left: 10px;


  }

  .fa-facebook-square:before{
    color: #3B5998;
  }

  .fa-linkedin:before{
    color: #0177B5;
  }


  #contact{
    border: 2px solid black;
    height: 175px;


  }

  #map{
    border: 2px solid black;
    height: 175px;

  }
