.resume-background{
  background-image: url(../img/resume-background.jpeg);
  background-position: center;
  background-size: cover;
  height: 600px;
  position: absolute;
  z-index: -3;
  border: 3px 3px rgba(17, 13, 10, 1);
  padding: none;
  }

#title-text{
  text-shadow: 3px 3px 0.75px rgba(17, 13, 10, 1);

}

.resume-body{
margin-top: 2px;
font-size: 1.2em;
text-shadow: 2px 2px rgba(17, 13, 10, 1);

}
